body {
    text-align: center;
    background-color: #a7d5eb;
    font-family: "Araal", sans-serif;
}

h1{
    color: #ddf317
}

button{
    padding: 10px;
    font-size: 18px;
    background-color: #83e092;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f070f0;
}

.result{
    margin-top: 20px;
    font-size: 20px;
}